# MATLAB temporary and backup files
*.asv
*.m~
*.mat
*.mex*
*.mdl.bak
*.slx.bak
*.autosave
*.backup

# Figures & output
*.fig
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff

# Logs & reports
*.log
*.out
*.tmp

# Cache & build
codegen/
slprj/
sccprj/
*.p
*.mexw64
*.mexmaci64
*.mexa64

# OS-specific files
.DS_Store
Thumbs.db

# Other editor files
*.swp
*.swo
